* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #666;
  color: #eee;
  font-family: sans-serif;
}

.container {
  width: 80vw;
  height: 90vh;
  margin: 5vh 10vw;
  background-color: #ccc;
  border-radius: 2vw;
  font-size: large;
}

.message {
  display: block;
  width: fit-content;
  max-width: 40vw;
  background-color: #999;
  margin: 2vh 3vw;
  padding: 1.5vh 1.5vw;
  border-radius: 1vw;
}

.user {
  margin-left: 40vw;
  background-color: #eee;
  color: #999;
}

.control_panel {
  background-color: #999;
  padding: 5vh 3vw;
  border-radius: 0 0 2vw 2vw;
  position: absolute;
  bottom: 5vh;
  left: 10vw;
  width: 80vw;
}

.bot_info {
  border-radius: 2vw 2vw 0 0;
  width: 80vw;
  height: auto;
  padding: 2vh 3vw;
  background-color: #aaa;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bot_info div {
  width: 5vh;
  height: 5vh;
  border-radius: 2.5vh;
  background-color: #eee;
  margin: 0 2vw;
}

input {
  background: #eee;
  color: #444;
  padding: 2vh 1vw;
  border: 2px #444 solid;
  border-radius: 1vw;
  width: 65vw;
  font-size: large;
}
